<html>
<head>
    <title>Places We've Been</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
</head>
<body>
    <div class='container'>
            <div>

                <label for='city'>Enter the city</label>
                <input id='city' name='city' class='form-control' type='text'>
            </div>
            <div class='form-group'>
                <label for='state'>Enter the state</label>
                <input id='state' name='state' class='form-control' type='text'>
            </div>
            <div class='form-group'>
                <label for='years'>Enter the year</label>
                <input id='years' name='years' class='form-control' type='text'>
            </div>
            <button type= 'submit'>Clear all</button>

    </div>
</body>
</html>
    



    return 
    <ul>

        <li>{{places.getCity}}</li>
        <li>{{places.getState}}</li>
        <li>{{places.getYears}}</li>
    </ul>
    <a href='/'>Go home</a>;
 

<p> Your list of places is empty</p>
<a href='/'>Go home</a>



if (
        (empty($_POST['city'])) ||
        (empty($_POST['state'])) ||
        (empty($_POST['years']))
        ) {


        return "error " . "<a href='/'>please enter an item</a>";

    }

    
    else {

        $places = new Places($_POST['city'], $_POST['state'], $_POST['years']);
        $places->save();
        return "
    }